body {
    background-color: rgb(130, 190, 255);
}
.top {
    background-color: rgb(100,200,150);
    color: rgb(20,20,20);
    text-align:center;
}
/*소개글*/
.introduction {
    height: 450px;
}
mark {
    background-color: rgb(45,200,250);
}
/*목차*/
.index mark {
    background-color: yellow;
}
.index ol {
    background-color: rgb(220,100,150);
    width: 500px;
}
.index li {
    background-color: azure;
    margin-bottom:10px;
}
.index li:hover {
    background-color: aquamarine;
    color:cadetblue;
}
.index a:hover {
    color: white;
}
/*운영진*/
.mentor table {
    border:5px solid brown;/*굴기 선종류 색상*/
}
.mentor table td {
    height: 50px;
    width: 100px;
    border: 5px dotted rgb(200,200,20);
    background-color: bisque;
    text-align:center;
}
/*팀원*/
.group table {
    border: 5px solid seagreen;
    border-collapse: collapse;
}
.group table tr:nth-child(odd) {
    background-color: bisque;
}
.group table td {
    height: 50px;
    width: 100px;
    border: 5px solid seagreen;
    text-align:center;
}
/*링크*/
.link1 ul {
    background-color:antiquewhite;
    width: 500px;
}
.link1 li {
    background-color:snow;
    margin-bottom: 10px;
}
.link1 li:hover {
    background-color: aquamarine;
    color:cadetblue;
}
.link1 a{
    text-decoration-line: none;
}
.link1 a:hover {
    text-decoration-line: underline;
    color: olivedrab;
}
/*소사캠퍼스*/
.school img {
    width: auto;
    height: 250px;
}